.landing-image {
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 2vw;
}

.landing-small-text {
    font-size: medium;
    color: #CCCCCC;
}
